# Google Apps Script Web App URL
# Deploy your Apps Script (gas/Code.gs) as a Web App, then paste the URL here
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbzZQ4r4_63UPSsuWnSlH7sI3r1Y2gvvfIhZ9hY1RVJhwMeIguWLpSpmtW1l9LPLUbxR/exec
